.row {
   margin-right: -15px;
   margin-left: -15px;
}
.form-group{
  margin-bottom: 15px;
}
.form-control {

   width: 130% ;
   display: block;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea {

 
   padding: 12px 20px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
}
.post{
  font-size: 100%;
}
.post-btn{

margin: 0.2em;
padding: 0.45em 2em;
background: #1baede;
color: #fff;
font-weight: 700;
border-radius: 2px

}

.poster {
    margin-top: -200px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    overflow: auto;
    font-style: italic;
    font-size: 80%;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-control {
   
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
h1 {
	 display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

	    margin: .67em 0;
    font-size: 2em;
	    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}
h2{
	    font-size: 30px;
	    margin-top: 20px;
    margin-bottom: 10px;
	    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
	
	
}

